<footer class="footer">
    <div class="copyright bg-primary" style="padding-top: 10px;">
        <div class="container-lg">
            <div class="row pb-2">
                <div class="col-md-7">
                    <p style="color: aliceblue;">
                        <b>CONTACT INFORMATION</b><br>
                        <a href="tel:0384765738" style="color: aliceblue;text-decoration: none;"><i class="fas fa-phone-alt"></i> 038.476.5738</a>
                        <br>
                        <a href="https://www.facebook.com/maian.info/" target="_blank" style="color: aliceblue; text-decoration: none;">
                            <i style="color: aliceblue;" class="fab fa-facebook"></i> fb.com/maian.info</a><br>
                        <a href="https://mail.google.com/mail/u/0/?fs=1&to=maitruongan557@gmail.com&tf=cm" target="_blank" style="color: aliceblue; text-decoration: none;">
                            <i style="color: aliceblue;" class="fas fa-envelope"></i> maitruongan557@gmail.com</a>
                    </p>
  
                </div>
                <div class="col-md-5">
                    <p style="color: aliceblue">&copy;2021. <b>Mai Trường An - 1711545508</b> .All Rights Reserved.</p>
                    <p style="color: aliceblue"><i class="far fa-heart"></i> Love NTTU <i class="far fa-heart"></i></p>
                </div>
            </div>
  
        </div>
    </div>
  </footer>
