<!-- <p align="center">
    <iframe width="1280" height="720"
      src="https://www.youtube.com/embed/nqwnWujsYJs?autoplay=1&mute=1">
    </iframe>
  </p> -->

  <!--Carousel-->

  <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <a href="https://ntt.edu.vn/web/tin-tuc/xet-hoc-ba-dung-de-sau-moi-tinh" target="_blank">
            <img src="assets/images/nttu_AD/1.jpg" class="d-block w-100" alt="quangcao_1">
        </a>
      </div>
      <div class="carousel-item">
        <a href="https://ntt.edu.vn/web/tin-tuc/nhap-hoc-online-chang-ngai-covid" target="_blank">
            <img src="assets/images/nttu_AD/2.jpg" class="d-block w-100" alt="quangcao_2">
        </a>
      </div>
      <div class="carousel-item">
        <a href="https://ntt.edu.vn/web/thong-tin/chinh-sach-hoc-bong-nam-2021-tai-truong-dh-nguyen-tat-thanh" target="_blank">
            <img src="assets/images/nttu_AD/3.jpg" class="d-block w-100" alt="quangcao_3">
        </a>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
